@page "/ayuda"


<div class="reportes-container">
    <div class="reportes-header">
        <h1>📊 Ayuda</h1>
        <p>Información sobre el sistema</p>
    </div>

        <div class="reportes-grid">
            <div class="reporte-card">
                <h3>📋 Citas por Tipo de Consulta</h3>
                <div class="chart-container">
                    
                </div>
            </div>

            <!-- Pacientes Nuevos vs Recurrentes-->
            <div class="reporte-card">
                <h3>👥 Pacientes Nuevos vs Recurrentes</h3>
                <div class="pie-chart-container">
                    
                </div>
            </div>
        </div>
        <br />
        <!-- Top pacientes con mas citas-->
        <div class="reporte-card reporte-card-full">
            <h3>⭐ Top 10 Pacientes Frecuentes</h3>
            
            </div>
</div>

@code {
    
}
